<link rel="stylesheet" media="screen" href="css/docs.css" />
<h1 class="page-title">Generic Page</h1>
<div class="container_12 clearfix leading">
    <div class="grid_12">
    	<div class="message info"> 
             <h3>Welcome</h3> 
             <p> 
                 Odio integer tristique turpis, dignissim dolor ultrices, integer pulvinar sed, pid, dolor in ultricies? Cursus? Odio non, integer penatibus, ultrices massa et magnis mus in diam sit turpis sagittis elementum pulvinar penatibus cum facilisis velit tempor adipiscing velit, auctor, a in in porta amet, natoque urna urna?</p> 
         </div>
    </div>
    <section class="portlet grid_12 leading docs">
    	<header>
    		<h2>Cras nascetur ut augue tincidunt aliquam</h2>
    	</header>
    	<section>
    		<p>Odio integer tristique turpis, dignissim dolor ultrices, integer pulvinar sed</p>
    		<h4>Features:</h4>
    		<hr/>
			<img src="img/ampligo.jpg" width="236" height="236" />
<hr/>
    		<ol> 
    			<li>HTML5+CSS3 Compliant</li>
                <li>Odio integer tristique turpis, dignissim dolor ultrices, integer pulvinar sed</li> 
                <li>Ac risus hac magnis sociis turpis</li> 
                <li>Cras nascetur ut augue tincidunt aliquam</li>
                <li>Elementum pid. Massa</li>
                <li>Odio integer tristique turpis, dignissim dolor ultrices, integer pulvinar sed</li> 
                <li>Ac risus hac magnis sociis turpis</li> 
                <li>Cras nascetur ut augue tincidunt aliquam</li>
                <li>Elementum pid. Massa</li>
                <li>WYSIWYG Editor</li>
                <li>Odio integer tristique turpis, dignissim dolor ultrices, integer pulvinar sed</li> 
                <li>Ac risus hac magnis sociis turpis</li> 
                <li>Cras nascetur ut augue tincidunt aliquam</li>
                <li>Elementum pid. Massa</li>
            </ol>
            <div class="clear"></div>
            
            <h4>Table of Contents:</h4>
            <hr/>
    		<ol> 
    			<li>Setup</li>
                <li>HTML Structure</li> 
                <li>CSS Files and structures</li> 
                <li>Javascript</li>
                <li>Libraries</li>
                <li>Sources and credits</li> 
            </ol>
            <div class="clear"></div>
            
                       
            
            <em>Syntagm Research</em>
            <hr/>
    	</section>
    </section>
</div>